<!DOCTYPE html>
<html lang="pt-br">
	{{>head title='Admin Shop00' style='admin'}}
	<body>	
		<main class="content-wrapper">
				<section class="crud_section">
					<h2>Create new category</h2>

					<form action="admin/category/create" method="post"/>
						<label>Name:</label>
						<input type="text" name="name" required/>
						<button type="submit" value="submit"> Create </button>
					</form>
				</section>

				<section class="crud_section">
					<h2>Create new product</h2>

					<form action="admin/product/create" method="post" enctype="multipart/form-data">
						<label>Name:</label>
						<input type="text" name="name" required><br>
						
						<label>Price: $</label>
						<input type="number" name="price" min="0" step="0.05" required><br>
						
						<label>Description: </label><br>
						<textarea name="description" required></textarea><br>
						
						<label>Image:</label>
						<input type="file" name="img" required><br>
						
						<label>Category:</label>
						<select name="category">
								{{#each categories}}
								    <option value="{{this.catId}}">{{this.catName}}</option>
								{{/each}}
						</select>
					</form>
				</section>

				<section class="crud_section">
					<h2>Delete categories</h2>

					<table>
						<tr>
						    <th>Name</th>
						    <th></th>
						</tr>
						{{#each categories}}
						<tr>
					    	<td>{{this.catName}}</td>
					    	<td>
					    		<form action="admin/category/delete/{{this.catId}}" method="delete">
					    			<button type="submit">Delete</button>
					    		</form>
					    	</td>
						</tr>					
						{{/each}}
					</table>
				</section>

				<section class="crud_section">
					<h2>Delete products</h2>

					<table>
						<tr>
						    <th>Name</th>
						    <th>Price</th> 
						    <th>Description</th>
						    <th>Image</th>
						    <th>Category</th>
						    <th></th>
						</tr>
						{{#each products}}
						<form action="admin/product/delete/{{this.prodId}}" method="delete">
							<tr>
							    <td>{{this.prodName}}</td>
							    <td>$ {{this.price}}</td>
							    <td>{{this.description}}</td>
							    <th>{{this.img}}</th>
							    <th>{{this.category.catName}}</th> 
							    <td><button type="submit">Delete</button></td>
							</tr>
						</form>
						{{/each}}
					</table>
				</section>
		</main>
		
		<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
	</body>
</html>
