<!DOCTYPE html>
<html lang="en">
	{{>head title='Shop00' style='admin'}}
<body>
	<nav class="logo-nav">
		<a href="/"><img src="/images/logoblack.png"></a>

		<div class="user-info">
			<small>{{user.email}}</small>
			<form action="/logout" method="get"/>
				<button class="logout-button" type="submit">Logout</button>
			</form>
		</div>
	</nav>

	<main class="content-wrapper">
		<section>
			<h2>Products list</h2>
			<table id="products-table">
				<tr>
					<th>Image</th>
				    <th>Name</th>
				    <th>Unitary price</th> 
				    <th>Quantity</th>
				    <th>Price</th>
				</tr>
				{{#each cart}}
				<tr>
					<td><img src="/images/products/{{this.img}}" class="product-img"></td>
					<td>{{this.name}}</td>
					<td>${{this.price}}</td>
					<td>{{this.quantity}}</td>
					<td>${{mult this.quantity this.price}} </td>
				</tr>
				{{/each}}

				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td>Total: </td>
					<td>${{total}}</td>
				</tr>
			</table>
		</section>

		<a href="/checkout/confirm"><button id="confirm-button">Confirm</button></a>
	</main>

	<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
</body>
</html>
