<!DOCTYPE html>
<html lang="en">
	{{>head title='Shop00' style='style'}}
<body>
	{{> header }}
	{{> navbar }}

	<main class="content-wrapper">
		<aside class="categories-wrapper">
			<section class="categories-header"> <h1>Categories</h1> </section>
			<ul class="categories">	
				{{#each categories}}			
				<a href="/category/{{this.catId}}"><li>{{this.catName}}</li></a> 	
				{{/each}}								
			</ul>
		</aside>

		<article>
			<nav class="nav-menu">
				<h1><a href="/">Home</a> 
					{{#if category}}
					    > {{category}}
					{{/if}}	
				</h1>
			</nav>

			<ul class="products-list">
				{{#each products}}
				<li class="product">
					<a href="/product/{{this.prodId}}" title="{{this.name}}">
						<img src="/images/{{this.catId}}/{{this.img}}">
						<h3> {{this.prodName}} </h3>
						<span> R$ {{this.price}}</span>
						<input type="hidden" value="{{this.id}}">
					</a>
					<button>Add</button>
				</li>
				{{/each}}
			</ul>
		</article>
	</main>
	
	<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>
