<!DOCTYPE html>
<html lang="en">
	{{>head title='Shop00' style='style'}}
<body>
	{{> header }}
	{{> navbar }}
		
	<main class="content-wrapper">
		<section class="categories-wrapper">
			<section class="categories-header"> <h1>Categories</h1> </section>
			<ul class="categories">	
				{{#each categories}}			
				<a href="/category/{{this.catId}}"><li>{{this.catName}}</li></a> 	
				{{/each}}														
			</ul>
		</section>

		<article>
			<nav class="nav-menu">
				<h1><a href="/">Home</a> > 
					<a href="/category/{{product.catId}}">{{product.category.catName}}</a> >
					{{product.prodName}}
				</h1>
			</nav>

			<div class="product-content">
				<img src="/images/{{category}}/{{product.img}}">
				<div class="product-information">
					<h1> {{product.prodName}} </h1>
					<p> {{product.description}} </p>
					<span> R$ {{product.price}}</span>
					<button>ADD</button>
				</div>
			</div>
		</article>
	</main>
	
	<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>
