<!DOCTYPE html>
<html lang="en">
	{{> head }}
<body>
	{{> header }}

	{{> navbar }}
		
	<main class="content-wrapper">
		<section class="categories-wrapper">
			<section class="categories-header"> <h1>Categories</h1> </section>
			<ul class="categories">	
				{{#each categories}}			
				<a href="/categorie/{{this.name}}"><li>{{this.name}}</li></a> 	
				{{/each}}														
			</ul>
		</section>

		<article>
			<nav class="nav-menu">
				<h1><a href="/">Home</a> > 
					<a href="/categorie/{{product.categorie}}">{{product.categorie}}</a> >
					<a>{{product.name}}</a>
				</h1>
			</nav>

			<div class="product-content">
				<img src="/images/{{product.categorie}}/{{product.img}}">
				<div class="product-information">
					<h1> {{product.name}} </h1>
					<p> {{product.description}} </p>
					<span> R$ {{product.price}}</span>
					<button>ADD</button>
				</div>
			</div>
		</article>
	</main>
	
	<!-- Events - jQuery: -->
	<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>
